::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
::-webkit-input-placeholder {
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  background-color: #666;
}
.calculator-body {
  direction: ltr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 60px 60px 60px 60px 60px;
  grid-gap: 20px;
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.display {
  border: 1px solid mediumblue;
  grid-column: 1 / 5;
  background-color: #cd0000;
  padding: 10px 0px;
  margin: 65px 0px 0px;
  display: flex;
  flex-direction: column;
}

.display-operation {
  border: 1px solid rgb(12, 199, 12);
  direction: ltr;
  /* white-space: nowrap; */
  /* resize: none; */
  /* overflow: scroll; */
  /* font-family: Courier New, monospace; */
  /* margin-right: 5px; */
  outline: none;
  background-color: #cd0000;

  /* font-size: large; */
  color: #fff;
}
.display-answer {
  border: 1px solid rgb(255, 217, 0);
  font-family: Courier New, monospace;
  /* margin-right: 5px; */
  /* caret-color: transparent; */
  outline: none;
  background-color: #cd0000;

  font-size: xx-large;
  color: #fff;
}
.hr-devider {
  width: 100vw;
  height: 10px;
  border: 0px;
}

.button {
  border: 1px solid #cd0000;
  margin: 10px;
  border-radius: 5px;
  font-size: xx-large;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -ms-transition: 0.1s all;
  -o-transition: 0.1s all;
}

.number:hover {
  background-color: seagreen;
}
.decimal:hover {
  background-color: orange;
}
.operations:hover {
  background-color: orange;
}
.clean:hover {
  background-color: #d83e33;
}
.big-result:hover {
  background-color: #d83e33;
}
.big-O {
  grid-area: 6/1/6/3;
  width: 100%;
}
.big-result {
  grid-area: 5/4/7/5;
  height: 100%;
}

/*текст эриа*/
h1 {
  position: absolute;
  top: 10px;
  left: 35%;
  font-size: x-large;
  color: #cd0000;
}
